<html>
<title>
    demo pay
</title>

<head>

</head>

<body>
    <form action="/payment" method="post">
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="pk_test_4RKy1Zv6rtX7GuDBPaWYuenb" data-amount="2000"
            data-name="Demo Site" data-description="2 widgets ($20.00)">
            </script>
    </form>
</body>

</html>